<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}">
<head>
  <title>Spring Fundamentos - Detalhes do Cliente</title>
</head>
<body>
  <main class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Detalhes do Cliente</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <h5 class="card-header" th:text="${cliente.nome}"></h5>
          <div class="card-body">
            <p>
              Profissão: <span th:text="${cliente.profissao}"></span>
            </p>
            <p>
              Data de Nascimento: <span th:text="${cliente.dataNascimento}"></span>
            </p>

            <a href="" class="btn btn-warning">Editar</a>
            <a href="" class="btn btn-danger">Excluir</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>