<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}">
<head>
  <title th:text="#{listar.title}"></title>
</head>
<body>
  <main class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 th:text="#{listar.header}"></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h5 th:if="${#lists.isEmpty(clientes)}" th:text="#{listar.tabela.vazia}"></h5>

        <table class="table" th:unless="${#lists.isEmpty(clientes)}">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" th:text="#{listar.tabela.col.nome}"></th>
              <th scope="col" th:text="#{listar.tabela.col.dataNascimento}"></th>
              <th scope="col" th:text="#{listar.tabela.col.profissao}"></th>
              <th scope="col" th:text="#{listar.tabela.col.acoes}"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="cliente : ${clientes}">
              <th scope="row" th:text="${cliente.id}"></th>
              <td>
                <a 
                  th:text="${cliente.nome}" 
                  th:href="@{/cliente/{id} (id=${cliente.id})}"
                ></a>
              </td>
              <td th:text="${#temporals.format(cliente.dataNascimento, 'dd/MM/yyyy')}"></td>
              <td th:text="${cliente.profissao}"></td>
              <td>
                <a 
                  th:href="@{/cliente/{id}/editar (id=${cliente.id})}"
                  class="btn btn-warning"
                  th:text="#{listar.tabela.acao.editar}"
                >
                </a>
                <a 
                  th:href="@{/cliente/{id}/excluir (id=${cliente.id})}"
                  class="btn btn-danger"
                  th:text="#{listar.tabela.acao.excluir}"
                  onclick="return confirm('Tem certeza que deseja excluir o cliente?');"
                >
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <a 
          th:href="@{/cliente/cadastrar}" 
          class="btn btn-primary" 
          th:text="#{listar.botao.cadastro}"
        ></a>
      </div>
    </div>
  </main>
</body>
</html>