<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}">
<head>
  <title th:text="#{home.title}"></title>
</head>
<body>
  <main class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 th:text="#{home.header}"></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p th:text="${boasVindas}"></p>
        <!-- <p th:utext="${boasVindas}"></p> Vulnerável a XSS -->
        <!-- <p>[[${boasVindas}]]</p> -->
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p th:text="#{home.list.title}"></p>
        <ul>
          <li th:each="aula : ${aulas}" th:text="${aula}"></li>
        </ul>
      </div>
    </div>
  </main>
</body>
</html>